@import "_theme";

.app-home {
height: 100%;
width: 100%;
background-image: url('../../assets/images/brew-buddy-logo.png');
background-repeat: no-repeat;

    .btn-danger {
      position: relative;
      right: 0%;
    }
}
