@import "_theme";

.app-home {

    // position: relative;
    position: fixed;;
    top: 30%;
    right: 20%;
    padding: 20px;
    background-color: $app-light;
    width: 60%;

    .btn-danger {
      position: relative;
      right: 0%;
    }
}
