<app-nav></app-nav>

<div class="finished-brew-el">
  <h1>New Brew</h1>
  <ul>
    <li>Origin: {{finishedBrewCtrl.newBrew.originId}}</li>
    <li>Brew Method: {{finishedBrewCtrl.newBrew.methodId}}</li>
    <li>Aroma: {{finishedBrewCtrl.newBrew.aromas}}</li>
    <li>Acidity is like: {{finishedBrewCtrl.newBrew.acidity}}</li>
    <li>Acidity Strength: {{finishedBrewCtrl.newBrew.acidityStrength}}</li>
    <li>Flavor: {{finishedBrewCtrl.newBrew.flavorId}}</li>
    <li>Body: {{finishedBrewCtrl.newBrew.body}}</li>
    <li>Finish Length: {{finishedBrewCtrl.newBrew.finishLength}}</li>
    <li>Experience: {{finishedBrewCtrl.newBrew.experience}}</li>
    <li>Rating: {{finishedBrewCtrl.newBrew.rating}}</li>
  </ul>
</div>
