<app-nav></app-nav>

<div class="aroma-class">
  <h1>Aroma?</h1>
  <div class="aroma-wrapper">
    <input class="aroma-input" type="text" ng-model="aroma" required/>
  <!-- <<<<<<< HEAD
    <button class="btb btn-success" ng-click="aromaCtrl.nextPageAcidity(aroma)">
      <p class="next-aroma">NEXT</p></button>
  ======= -->
    <!-- <button submit="submit" class="btn btn-default">Next</button> -->
    <!-- <i class="fa fa-hand-o-right" aria-hidden="true" ng-click=""></i> -->
    <!-- <button class="btn btn-success" ng-click="aromaCtrl.nextPageAcidity(aroma)">NEXT</button> -->
    <button type="submit"> Next </button>
</div>
</div>
