@import "_theme";

h1 {
  font-size: 6em;
}
.aroma-class {
  position: fixed;;
  top: 30%;
  right: 20%;
  padding: 20px;
  width: 60%;
}
.aroma-input {
  height: 35px;
}
.next-aroma {
  &:hover{
    text-decoration: underline;
  }
}
