@import "_theme";

h1 {
  font-size: 6em;
  text-align: center;
}
.aroma-class {
  position: fixed;;
  top: 30%;
  right: 20%;
  padding: 20px;
  width: 60%;
}
.aroma-wrapper {
  position: fixed;
  margin: 0 auto;
  width: 57%;
  text-align: center;

}

.aroma-input {
  height: 35px;
}
.next-aroma {
  &:hover{
    text-decoration: underline;
  }
}
