.user-welcome {
  text-align: center;
  font-family: serif;
  font-weight: bold;
  font-size: 6em;
  padding-bottom: 2em;
}

.user-menu {

  text-align: center;
  margin: auto;

  li {
    padding: 5px;
    list-style-type: none;
    margin: auto;
  }

}
