<app-nav></app-nav>

<div class="countryoforigin">
  <div class="value-container">
  <h2 class="originName">Origin?</h2>

  <form novalidate
  name="countryOfOriginForm"
  ng-submit="countryOfOriginCtrl.submitOrigin(selected)">
    <label for="countryOfOrigin"></label>

    <select name="countryOfOrigin"
    ng-click="countryOfOriginCtrl.dropdownSelector()"
    ng-model="selected">

      <option
      ng-repeat="origin in countryOfOriginCtrl.origins track by $index"
      value="{{ origin }}">
      {{ origin }}
      </option>

    </select>

    <button type="submit"> Next </button>
  </form>
</div>
</div>
