<app-nav></app-nav>
<div class="finish">
  <section class="nav">

    <h2 class="navItem">Finish?</h2>
    <div class="navItem">
      <!-- <i class="fa fa-coffee fa-rotate-180 fa-2x">
        <br><p class="fa fa-rotate-180">Sign Out</p>
      </i> -->
    </div>
  </section>

  <form class="inputForm" novalidate name="finish" ng-submit="
  finishCtrl.submitFinish(finishCtrl.finishLength, finishCtrl.finishBody)">
    <div class="inputFormItemFinish">
      <label class="finishLength">
        <h3>Finish Length</h3>
        <input type="radio" ng-model="finishCtrl.finishLength" value="Quick">
        Quick
      </label><br/>
      <label>
        <input type="radio" ng-model="finishCtrl.finishLength" value="Medium">
        Medium
      </label><br/>
      <label>
        <input type="radio" ng-model="finishCtrl.finishLength" value="Long">
        Long
      </label><br/>
      <br/>
    </div>
      <div class="inputFormItemFinishBody">
      <label class="finishBody">
        <h3>Finish Body</h3>
        <input type="radio" ng-model="finishCtrl.finishBody" value="Light">
        Light
      </label><br/>
      <label>
        <input type="radio" ng-model="finishCtrl.finishBody" value="Medium">
        Medium
      </label><br/>
      <label>
        <input type="radio" ng-model="finishCtrl.finishBody" value="Full">
        Full
      </label><br/>
      <button id="nextButton" type="submit">Next</button></div>
    </div>
    <br>
  </form>
</br>

 </div>
