@import "_theme";

.finish {
// .nav {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
// }

h2 {
  font-size: 6em;
  text-align: center;
}
i {
  font-size: 35px;
  margin: 50px;
}
.inputFormItemFinish {

  position: relative;
  position: fixed;
  top: 40%;
  right: 47%;
  padding: 30px;
  width: 20%;
}
.inputFormItemFinishBody {

  position: relative;
  position: fixed;
  top: 40%;
  right: 29%;
  padding: 30px;
  width: 20%;
}
button{

  right: 62%;
  padding: 10px;
  width: 45%;
}
}
