<li class="app-flavor-type">
  <button ng-show="typeCtrl.flavorCatView" type="button" ng-click="typeCtrl.callFlavor(typeCtrl.fruitsFloralsData, fruitsFloralsData)">fruits and florals</button>
  <button ng-show="typeCtrl.flavorCatView" type="button" ng-click="typeCtrl.callFlavor(typeCtrl.sugarSpiceData, sugarSpiceData)">sugars and spices</button>
  <button ng-show="typeCtrl.flavorCatView" type="button" ng-click="typeCtrl.callFlavor(typeCtrl.otherData, otherData)">other</button>




  <h1>Flavor Catagory {{typeCtrl.flavorCatSelected}}</h1>
  <li ng-show="typeCtrl.flavorTypeView" ng-repeat="type in typeCtrl.currentCatSelection"><button type="button" ng-click="typeCtrl.callTitle(type)" value="type">{{type}}</button></li>

  <h2>Flavor Selected {{typeCtrl.flavorSelected}}</h2>
<li ng-show="typeCtrl.flavorSelectionsView" ng-repeat="title in typeCtrl.currentFlavorTitles"><h3><button type="button" ng-click="typeCtrl.selectFlavor(title)">{{title}}</button></h3></li>

<button type="button" ng-click="typeCtrl.backButton()">back</button>
