.app-flavor-el {
  text-decoration: none;
  width: 100%;
}
li {
  text-decoration: none;
  width: 300px;
}

.flav-btn {
  border: 0;
  padding: 0;
  border: red 1px solid;
  width: 300px !important;
  display: inline-block;
}
.name-el {
  text-decoration: none;
  font-size: 3em;
}
