<app-nav></app-nav>
<div class="flavor-div">

<div class="li-container">

<li class="app-flavor-el">
  <h1 class="name-el">Flavor</h1>




  <button class="flav-btn" ng-show="flavorElCtrl.flavorCatView" type="button" ng-click="flavorElCtrl.callFlavor(flavorElCtrl.fruitsFloralsData, fruitsFloralsData)">fruits and florals</button>
  <button class="flav-btn" ng-show="flavorElCtrl.flavorCatView" type="button" ng-click="flavorElCtrl.callFlavor(flavorElCtrl.sugarSpiceData, sugarSpiceData)">sugars and spices</button>
  <button class="flav-btn" ng-show="flavorElCtrl.flavorCatView" type="button" ng-click="flavorElCtrl.callFlavor(flavorElCtrl.otherData, otherData)">other</button>




  <li ng-show="flavorElCtrl.flavorTypeView" ng-repeat="type in flavorElCtrl.currentCatSelection"><button class="flav-type-btn" type="button" ng-click="flavorElCtrl.callTitle(type)" value="type">{{type}}</button></li>

<li ng-show="flavorElCtrl.flavorSelectionsView" ng-repeat="title in flavorElCtrl.currentFlavorTitles"><h3><button class="flav-btn" type="button" ng-click="flavorElCtrl.selectFlavor(title)">{{title}}</button></li>
</li>
</div>

<button class="back-btn" ng-show="flavorElCtrl.backButtonView" type="button" ng-click="flavorElCtrl.backButton()">back</button>
<button class="another-btn" ng-show="flavorElCtrl.anotherFlavorView" type="button" ng-click="flavorElCtrl.anotherFlavor()">another flavor</button>
<button class="next-page" ng-show="flavorElCtrl.flavorChosen" type="button" ng-click="flavorElCtrl.nextPage()">next page</button>

<div class="flavor-titles">
<li ng-repeat="titles in flavorElCtrl.userFlavors">{{titles}}</li>
</div>
</div>
