.pastBrews {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/brew-buddy-logo.png');
  background-repeat: no-repeat;

  h1 {
    text-align: center;
    font-family: serif;
    font-size: 5em;
    margin-bottom: 1em;
  }

  ol li {
    margin: auto;
    padding: 5px;
    list-style-type: none;
    cursor: pointer;
  }

  .pastBrewModal {

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4000;
    background-color: rgba(0, 0, 0, 0.5);

    .postcard {
      position: relative;
      margin-top: (100vh) * 0.2;
      display: flex;
      justify-content: row;
      width: 70%;
      height: 50%;
      z-index: 100;
      overflow: wrap;
      margin-left: auto;
      margin-right: auto;
      padding: 20px;
      background-color: #fff;
    }

    .postcard-left, .postcard-right {
      width: 50%;
      display: inline;
      padding: 10px;
    }

    .postcard-left {
      border-right: 1px solid blue;
      text-align: center;
      .rating {
        margin: 0.5em auto;
        font-size: 7em;
        text-align: center;
      }

      .postcard-right {
        text-align: left;
      }
    }
  }
}
