<div class="pastBrews" ng-init="pastBrewsCtrl.fetchPastBrews()">

  <h1> Past Brews </h1>

  <ol>
    <li ng-repeat="pastbrew in pastBrewsCtrl.pastBrews"
    ng-click="pastBrewsCtrl.showBrewModal(pastbrew)">
      {{ pastbrew.date }}
    </li>
  </ol>

  <div ng-if="pastBrewsCtrl.showModal" class="pastBrewModal">

    <i class="fa fa-times" aria-hidden="true"
    ng-click="pastBrewsCtrl.closeModal()"></i>

    <h2> {{ pastBrewsCtrl.selectedBrew.date }} </h2>
    <p> {{ pastBrewsCtrl.selectedBrew.origin }}</p>
  </div>

  <div ng-hide="pastBrewsCtrl.pastBrews.length">
    <p> No past brews to show! </p>
  </div>

</div>
