@import "_theme";

.app-signin {

  form {

    position: fixed;
    top: 30%;
    left: 30%;
    padding: 20px;
    background-color: $app-light;
    width: 45%;
  }

  img{
    height: 25%;
    width: 25%;

  }
}
