@import "_theme";

.app-signin {
  form {
    // position: relative;
    position: fixed;;
    top: 30%;
    right: 20%;
    padding: 20px;
    background-color: $app-light;
    width: 60%;

  }
  img{
    height: 100%;
    width: 100%;
    background-image: url('../../assets/images/brew-buddy-logo.png');
    background-repeat: no-repeat;

  }
}
