@import "_theme";


  .experience{
    width: 700px;
    height: 200px;
    margin-left: 30%;
    margin-top: 13%;
  }



.star-container {
  width: 500px;
  margin-left: -3.5%;
}
  .star-group {
  font-size: 0;
  unicode-bidi: bidi-override;
  direction: rtl;
  }
  .star-group * {
  font-size: 7rem;
  margin-left: 40px;
  }
  .star-group > input {
  display: none;
  }
  .star-group > input + label {
  display: inline-block;
  text-indent: 9999px;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
  }
  .star-group > input + label:before {
  display: inline-block;
  text-indent: -9999px;
  content: "★";
  color: white;
  }
  .star-group > input:checked ~ label:before, .star-group > input + label:hover ~ label:before, .star-group > input + label:hover:before {
  content: "★";
  color: $app-highlight;
  text-shadow: 0 0 1px #333;
  }
  .star-group > .star-clear + label {
  width: .5em;
  margin-left: -.5em;
  }
  .star-group > .star-clear + label:before {
  width: .5em;
  }
  .star-group:hover > input + label:before {
  content: "★";
  color: white;
  }
  .star-group:hover > input + label:hover ~ label:before, .star-group:hover > input + label:hover:before {
  content: "★";
  color: $app-highlight;
  text-shadow: 0 0 1px #333;
  }


  .expName {
    font-size: 6em;
    margin-left: -39%;
  }

.expInput {
  width: 430px;
}



#expBtn {
float: right;
width: 180px;
height: 29px;
margin-top: 1%;
margin-right: 56%;
}
