<app-nav></app-nav>

<form novalidate class="acidity-class" name="desc" >
  <h1>Acidity</h1>
<div class="acidity-wrapper">
  <div class="acidity-desc">
    Desc:
    <input class="acidity-input" type="text" require ng-model="acidityCtrl.acidDesc"/>
    <button class="btb btn-success" ng-click="acidityCtrl.nextPageFlavor(acidity)">
      <p class="next-acidity">NEXT</p> </button>
  </div>

  <div class="acidity-intensity">
    Intensity:
    <br>
    <label>Strong</label>
      <input type="radio" ng-model="acidityCtrl.intensityLevel" value="strong"/>
    <br>
    <label>Medium</label>
      <input type="radio" ng-model="acidityCtrl.intensityLevel" value="medium"/>
    <br>
    <label>Light</label>
      <input type="radio" ng-model="acidityCtrl.intensityLevel" value='light'/>
  </div>
</div>
  <br>
