<app-nav></app-nav>

<form novalidate class="acidity-class" name="desc" >
  <h1>Acidity</h1>
  Desc:
  <input class="acidity-input" type="text" require ng-model="acidityCtrl.acidDesc"/>
  <br>
  Intensity:
  <br>
  <label>Strong</label>
    <input type="radio" ng-model="acidityCtrl.intensityLevel" value="strong"/>
  <br>
  <label>Medium</label>
    <input type="radio" ng-model="acidityCtrl.intensityLevel" value="medium"/>
  <br>
  <label>Light</label>
    <input type="radio" ng-model="acidityCtrl.intensityLevel" value='light'/>
  <br>

  <button class="btb btn-success" ng-click="acidityCtrl.nextPageFlavor(acidity)"> NEXT </button>
